.navbar {
  position: relative;
}

.brand {
  position: absolute;
  left: 50%;
  margin-left: -50px !important;
  display: block;
}

.navbar__logout {
  margin-left: auto;
}

.brand-center {
  justify-content: center;
}
